<%= form_with model: channel do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% channel.errors.full_messages_for(:name).each do |message| %> 
      <p class="text-red-600"><%= message %></p>
    <% end %>
  </div>

  <div>
    <%= form.label :url %><br>
    <%= form.text_area :url %>
    <% channel.errors.full_messages_for(:url).each do |message| %> 
      <p class="text-red-600"><%= message %></p>
    <% end %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
    <% channel.errors.full_messages_for(:description).each do |message| %> 
      <p class="text-red-600"><%= message %></p>
    <% end %>
  </div>

  <div>
    <%= form.label :image %><br>
    <%= form.text_area :image %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>